@{
    ViewData["Title"] = "Movie Form Submitted";
}
@model JoelHilton.Models.MovieResponse


@*Confirmation that your movie was added to the Database.*@ 
<h2>Your submssion for: "@Model.Title", has been added. Thank you!</h2>


