@{
    ViewData["Title"] = "My Podcasts";
}

<h1>My Podcasts</h1>
<a>Click </a>
<a href="https://baconsale.com/">HERE</a>
<a> for some Bacon</a><br />
<a>(I promise it's not spam)</a>
<link href="~/css/site.css" rel="stylesheet" />